body {
  color: #F5FFFA;
  font: 400 14px/21px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 550px) {
    .sidebar {
        display: none;
    }
    .map {
      left: 0% !important;
    }
    .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-right {
      right: 0px !important;
    }
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 25%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-right {
  right: 25%;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.heading {
  background: #F5FFFA;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #27332F;
  color: #F5FFFA;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  background-color: #27332F;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #F5FFFA;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title, .listings .item .title:hover {
  color: #98A09D;
}

.listings .item.active {
  background-color: #3F4B47;
}

 ::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

 ::-webkit-scrollbar-track {
  background: none;
}

 ::-webkit-scrollbar-thumb {
  background: #F5FFFA;
  border-radius: 0;
}


/*
API call for marker:
https://www.mapbox.com/api-documentation/#retrieve-tilejson-metadata
*/

.marker {
  border: none;
  cursor: pointer;
  height: 70px;
  width: 30px;
  background-image: url(marker.png);
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/* Marker tweaks */

.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  color: white;
  font-size: 20px;
  margin: -15px 0px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #3F4B47;
  color: #F5FFFA;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  background-color: #75807C;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
  background-color: #75807C;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: #75807C;
}

.modal-content {
  background-color: #27332F;
}

.btn-default {
  background-color: #F5FFFA;
}

.info-link {
  color: #F5FFFA;
}

.info-link:hover {
  color: #75807C;
}
